<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Web_app_servlet</servlet-name>
        <servlet-class>com.sapnil.machinelearning.waf.Web_app_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wab_trainmodel_servlet</servlet-name>
        <servlet-class>com.sapnil.machinelearning.waf.wab_trainmodel_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>com.sapnil.machinelearning.waf.UploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Web_app_servlet</servlet-name>
        <url-pattern>/Web_app_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wab_trainmodel_servlet</servlet-name>
        <url-pattern>/wab_trainmodel_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
